# SkyWalking Agent 配置文件
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# 服务名称，如果未设置，将使用 `agent.service_name` 配置
# agent.service_name=${SW_AGENT_NAME:Your_ApplicationName}

# 后端服务地址，多个地址用逗号分隔
collector.backend_service=${SW_AGENT_COLLECTOR_BACKEND_SERVICES:oap-server:11800}

# 日志级别，可选值: OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL
logging.level=${SW_LOGGING_LEVEL:INFO}

# 日志文件的最大大小，默认为 300 * 1024 * 1024 = 300MB
logging.max_file_size=${SW_LOGGING_MAX_FILE_SIZE:314572800}

# 日志文件输出目录。默认为空，则日志输出到 STDOUT
logging.dir=${SW_LOGGING_DIR:""}

# 日志文件名，默认为 skywalking-api.log
logging.file_name=${SW_LOGGING_FILE_NAME:skywalking-api.log}

# 采样率，n每3秒钟最多采样n个Trace
agent.sample_n_per_3_secs=${SW_AGENT_SAMPLE:3}

# 认证信息
agent.authentication=${SW_AGENT_AUTHENTICATION:""}

# 忽略的后缀。当此集合中的后缀为操作名称后缀时，将忽略它们。
agent.ignore_suffix=${SW_AGENT_IGNORE_SUFFIX:.jpg,.jpeg,.js,.css,.png,.bmp,.gif,.ico,.mp3,.mp4,.html,.svg}

# 是否收集SQL参数，默认为false
plugin.jdbc.trace_sql_parameters=${SW_JDBC_TRACE_SQL_PARAMETERS:false}

# SQL参数的最大长度，默认为2048
plugin.jdbc.sql_parameters_max_length=${SW_JDBC_SQL_PARAMETERS_MAX_LENGTH:2048}

# 是否收集SQL Body，默认为false
plugin.jdbc.trace_sql_body=${SW_JDBC_TRACE_SQL_BODY:false}

# SQL Body的最大长度，默认为2048
plugin.jdbc.sql_body_max_length=${SW_JDBC_SQL_BODY_MAX_LENGTH:2048}

# 插件配置
# Spring Cloud Gateway 插件配置
plugin.spring.cloud.gateway.collect_http_params=${SW_SPRING_CLOUD_GATEWAY_COLLECT_HTTP_PARAMS:false}

# MongoDB插件配置
plugin.mongodb.trace_param=${SW_MONGODB_TRACE_PARAM:false}

# Elasticsearch插件配置
plugin.elasticsearch.trace_dsl=${SW_ELASTICSEARCH_TRACE_DSL:false}

# Redis插件配置
plugin.redis.trace_redis_parameters=${SW_REDIS_TRACE_REDIS_PARAMETERS:false}

# 操作名称最大长度，默认为150
agent.operation_name_threshold=${SW_AGENT_OPERATION_NAME_THRESHOLD:150}

# 是否打开debug模式
agent.is_open_debugging_class=${SW_AGENT_OPEN_DEBUG:false}

# 缓存类的类名规则。所有缓存的类不能被修改
agent.is_cache_enhanced_class=${SW_AGENT_CACHE_CLASS:false}

# 类增强级别上限，默认为10000
agent.class_cache_mode=${SW_AGENT_CLASS_CACHE_MODE:MEMORY}