# SkyWalking Agent 用户服务配置
# 用户服务名称
agent.service_name=${SW_AGENT_NAME:education-service-user}

# 后端服务地址
collector.backend_service=${SW_AGENT_COLLECTOR_BACKEND_SERVICES:oap-server:11800}

# 日志级别
logging.level=${SW_LOGGING_LEVEL:INFO}

# 采样率配置
agent.sample_n_per_3_secs=${SW_AGENT_SAMPLE:3}

# 数据库相关配置
plugin.jdbc.trace_sql_parameters=${SW_JDBC_TRACE_SQL_PARAMETERS:true}
plugin.jdbc.sql_parameters_max_length=${SW_JDBC_SQL_PARAMETERS_MAX_LENGTH:2048}
plugin.jdbc.trace_sql_body=${SW_JDBC_TRACE_SQL_BODY:true}
plugin.jdbc.sql_body_max_length=${SW_JDBC_SQL_BODY_MAX_LENGTH:2048}

# Redis配置
plugin.redis.trace_redis_parameters=${SW_REDIS_TRACE_REDIS_PARAMETERS:true}

# 认证信息
agent.authentication=${SW_AGENT_AUTHENTICATION:""}

# 忽略的后缀
agent.ignore_suffix=${SW_AGENT_IGNORE_SUFFIX:.jpg,.jpeg,.js,.css,.png,.bmp,.gif,.ico,.mp3,.mp4,.html,.svg,/actuator/health,/actuator/info}

# 操作名称最大长度
agent.operation_name_threshold=${SW_AGENT_OPERATION_NAME_THRESHOLD:150}